<div class="mb-6 text-center">
  <span class="text-3xl font-bold">
    Edit Profile
  </span>
</div>

<div class='flex flex-wrap justify-center mb-6'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-11/12 md:w-10/12 xl:w-8/12" }, data: { turbo: false }) do |f| %>

    <%= render "customer/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-6">
      <%= f.label :name, class: "mb-2 block text-sm text-gray-600" %>
      <%= f.text_field :name, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>

    <div class="mb-6">
      <%= f.label :email, class: "mb-2 block text-sm text-gray-600" %>
      <%= f.email_field :email, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, "password", class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :password, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :password_confirmation, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>

    <div class="mb-6">
      <%= f.label :current_password, class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :current_password, class: "w-full rounded-md border border-gray-300 py-2 px-3 placeholder:text-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Profile", class: "inline-flex w-full items-center justify-center rounded-md bg-indigo-500 p-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none" %>
    </div>
  <% end %>
</div>
