<div class="mb-8 text-center">
  <span class="text-3xl font-bold">
    Order Placed
  </span>
  <br />
  <span class="text-xl font-bold">
    <%= l @order.created_at, format: :short %>
  </span>
</div>

<div class="px-6">
  <div class="flex flex-col xl:flex-row jusitfy-center  w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
    <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
      <div class="flex flex-col justify-start items-start bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
        <p class="text-lg md:text-xl font-semibold leading-6 xl:leading-5 text-gray-800">Order Details</p>
        <% @order.order_details.each do |order_detail| %>
          <%= link_to product_path(order_detail.product) do %>
            <div class="mt-4 md:mt-6 flex flex-row justify-start items-start md:items-center space-x-6 xl:space-x-8 w-full">
              <div class="pb-4 md:pb-8 w-40">
                <%= image_tag order_detail.product.image, class: "aspect-square w-full rounded-xl object-cover" %>
              </div>
              <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
                <div class="w-full flex flex-col justify-start items-start space-y-8">
                  <p class="text-3xl font-semibold leading-6 text-gray-800"><%= order_detail.product.name %></p>
                  <div class="flex justify-start items-start flex-col space-y-2">
                    <p class="text-lg leading-none text-gray-800"><%= number_to_currency(order_detail.price, unit: "짜", strip_insignificant_zeros: true) %></p>
                    <p class="text-md leading-none text-gray-800">Qty: <%= order_detail.quantity %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
      <div class="flex justify-center flex-col md:flex-row items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
        <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6">
          <h3 class="text-xl font-semibold leading-5 text-gray-800">Summary</h3>
          <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
            <div class="flex justify-between w-full">
              <p class="text-base leading-4 text-gray-800">Subtotal</p>
              <p class="text-base leading-4 text-gray-600"><%= number_to_currency(@order.billing_amount - @order.postage, unit: "짜", strip_insignificant_zeros: true) %></p>
            </div>
            <div class="flex justify-between items-center w-full">
              <p class="text-base leading-4 text-gray-800">Shipping</p>
              <p class="text-base leading-4 text-gray-600"><%= number_to_currency(@order.postage, unit: "짜", strip_insignificant_zeros: true) %></p>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <p class="text-base font-semibold leading-4 text-gray-800">Total</p>
            <p class="text-base font-semibold leading-4 text-gray-600"><%= number_to_currency(@order.billing_amount, unit: "짜", strip_insignificant_zeros: true) %></p>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 w-full h-fit px-4 py-6 md:p-6 xl:p-8 ">
        <h3 class="text-xl font-semibold leading-5 text-gray-800">Shipping Address</h3>
        <div class="flex flex-col md:flex-row xl:flex-col justify-start w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
          <div class="flex justify-between w-full flex-col mt-6">
            <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
              <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4">
                <div class="w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600">
                  <p class="mb-2 leading-tight text-sm">Name: <span class="font-semibold text-slate-700 sm:ml-2"><%= @order.name %></span></p>
                  <p class="mb-2 leading-tight text-sm">Postal Code: <span class="font-semibold text-slate-700 sm:ml-2"><%= @order.postal_code %></span></p>
                  <p class="mb-2 leading-tight text-sm">Prefecture: <span class="font-semibold text-slate-700 sm:ml-2"><%= @order.prefecture %></span></p>
                  <p class="mb-2 leading-tight text-sm whitespace-nowrap">Address1: <span class="font-semibold text-slate-700 sm:ml-2"><%= @order.address1 %></span></p>
                  <% if @order.address2 %>
                    <p class="mb-2 leading-tight text-sm whitespace-nowrap">Address2: <span class="font-semibold text-slate-700 sm:ml-2"><%= @order.address2 %></span></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center flex-col md:flex-row items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
        <div class="px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6">
          <h3 class="text-xl font-semibold leading-5 text-gray-800">Order Status</h3>
          <p>Latest Status: <span class="mt-5 bg-blue-100 text-blue-800 text-md font-semibold py-2 px-2.5 rounded"><%= @order.status %></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
